<div class="admin-users">
  <div class="admin-users-container">
    <div class="admin-users-header">
      <h1 class="admin-users-header-title">Edytuj użytkownika</h1>
      <a class="admin-users-header-link" [routerLink]="['/admin/users']"
      >Lista użytkowników</a
      >
      <a class="admin-users-header-link" [routerLink]="'../..'">Dashboard</a>
    </div>
    <app-admin-users-edit-content
      [userGroups]="userGroups$ | async"
      [accountDetails]="accountDetails$ | async"
      (userEdited)="userEdit($event)"
    ></app-admin-users-edit-content>
  </div>
</div>
