{% load i18n %}

<body style="font-family: Arial, sans-serif;text-align: center;background-color: #f0f0f2;margin-top: 5%;word-wrap: break-word;">
	<div style="display: inline-block;border-radius: 10px;padding: 20px;max-width: 500px;margin: 0 auto;background-color: #fdfdff;">
		<h1 style="text-align: center;margin: 0;line-height: 1.5;padding: 10px;">
            {% translate "Payment success" %}
        </h1>
		<p style="text-align: justify;">
            {% translate "Hi" %} {{ name }}!</br>
            {% blocktranslate trimmed %}
				We have received your payment for reservation {{ camping_plot }} [{{ date_from }} - {{ date_to }}].
				You can cancel your reservation up to {{ cancellation_time_in_days }} days before the scheduled date.
            {% endblocktranslate %}
        </p>
		<p style="text-align: justify;margin: 0;line-height: 1.5;padding: 10px;">
            {% translate "Regards" %}</br>
            Kermit Team
		</p>
	</div>
</body>