<div class="parcel-search">
  <div class="parcel-search-wrapper">
    <div class="parcel-search-filter">
      <lib-datepicker [dates]="dates"></lib-datepicker>
      <lib-people-picker [people]="people"></lib-people-picker>
      <lib-button [fullWidth]="true" class="search-button" (click)="search()"
        >Szukaj</lib-button
      >
    </div>
    <div class="parcel-search-container">
      <app-parcel-search-list
        [items]="parcels$ | async"
        [paginationMetadata]="paginationMetadata$ | async"
        (paginationChanged)="onPaginationChanged($event)"
        (reserveFired)="reserve($event)"
      ></app-parcel-search-list>
    </div>
  </div>
</div>
