<div class="admin-dashboard">
  <div class="admin-dashboard-container">
    <div class="admin-dashboard-tile" (click)="goToUsers()">
      <img
        src="assets/185082_man_user_people_icon.svg"
        alt="user icon"
        class="admin-dashboard-tile-icon"
      />
      <span class="admin-dashboard-tile-text">Użytkownicy</span>
    </div>
    <div class="admin-dashboard-tile" (click)="goToReservations()">
      <img
        src="assets/7569457_travel_holiday_vacation_journey_trip_icon.svg"
        alt="reservation icon"
        class="admin-dashboard-tile-icon"
      />
      <span class="admin-dashboard-tile-text">Rezerwacje</span>
    </div>
  </div>
</div>
