<div class="container">
  <main class="login">
    <a [routerLink]="['/']" class="login__link-wrapper"
      ><img
        src="assets/logo.svg"
        alt="logo"
        class="logo"
        height="16"
        width="16"
    /></a>
    <div class="login__container">
      <h1 class="login__greeting">Zapomniałeś hasła?</h1>
      <h3 class="login__phrase">Wpisz swój email a my wyślemy Ci instrukcje resetowania hasła</h3>
      <app-forgot-password-form (forgotFired)="forgotPassword($event)"></app-forgot-password-form>
    </div>
  </main>
  <aside class="picture"></aside>
</div>
