<div class="date-range-input" [formGroup]="search">
  <mat-form-field appearance="outline">
    <mat-date-range-input [rangePicker]="picker" [min]="minDate">
      <input
        [min]="minDate"
        matStartDate
        formControlName="start"
        placeholder="Data zameldowan..."
        [value]="minDate"
      />
      <input
        matEndDate
        formControlName="end"
        placeholder="Data wymeldowan..."
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
