.date-range-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}
.guests-input {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  .guests-item-icon {
    width: 1rem;
    height: 1rem;
  }
  .guests-select {
    padding: 0.25rem;
    border: none;
    background-color: white;
    margin-right: 1rem;
  }
}
.search-button {
  font-size: 20px;
  text-align: center;
  padding: 0 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Montserrat;
  height: 56px;
  cursor: pointer;
}

.input {
  max-width: 32px;
}

@media screen and (max-width: 600px) {
  .date-range-input {
    .date-input {
      padding: 0.25rem;
      border: none;
      border-bottom: 1px solid var(--primary-color);
      outline: none;
      font-size: 0.5rem;
    }
  }
  .guests-input {
    cursor: pointer;
    font-size: 0.5rem;
    .guests-item-icon {
      display: none;
    }
    .guests-select {
      padding: 0.1rem;
      border: none;
      background-color: white;
      margin-right: 0.5rem;
      font-size: 0.5rem;
    }
  }
  .search-button {
    font-size: 24px;
    text-align: center;
    padding: 5px 10px;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    background-color: var(--primary-color);
  }
}
