<div class="container">
  <a [routerLink]="['/']" class="login__link-wrapper"
    ><img src="../../../../assets/logo.svg" alt="logo" class="logo"
  /></a>
  <form [formGroup]="form" class="form-wrapper">
    <h1 class="form-header">Ustaw nowe hasło</h1>
    <div class="password-reset__input-wrapper">
      <lib-input
        placeholder="Hasło"
        [formControlName]="'password'"
        [fieldHasError]="controlHasError('password')"
        [fieldRequired]="true"
        [type]="'password'"
      ></lib-input>
      <lib-error-message [field]="form.get('password')"></lib-error-message>
    </div>
    <div class="password-reset__input-wrapper">
      <lib-input
        placeholder="Powtórz hasło"
        [formControlName]="'confirmPassword'"
        [fieldHasError]="controlHasError('confirmPassword')"
        [fieldRequired]="true"
        [type]="'password'"
      ></lib-input>
      <lib-error-message
        [field]="form.get('confirmPassword')"
      ></lib-error-message>
      <lib-error-message [field]="form"></lib-error-message>
    </div>
    <div class="password-reset__button-wrapper">
      <lib-button (click)="changePassword()">Zmień hasło</lib-button>
    </div>
  </form>
</div>
