.profile-wrapper {
  padding: 200px 15px 15px 15px;
  width: 100%;

  .profile-container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .profile-squares {
      max-width: 200px;
    }

    .profile-header {
      font-size: 36px;
    }

    .profile-subheader {
      font-size: 20px;
    }
  }

  @media (max-width: 600px) {
    padding: 150px 15px 15px 15px;

    .profile-container {
      .profile-header {
        font-size: 30px;
      }

      .profile-subheader {
        font-size: 18px;
      }

      .profile-squares {
        max-width: 150px;
      }
    }
  }
}

.profile-header:nth-of-type(3) {
  margin-top: 20px;
}
