<form class="admin-users-add-content-form" [formGroup]="form">
  <div class="admin-users-add-content-form-input-wrapper">
    <lib-input
      placeholder="Email"
      [formControlName]="'email'"
      [fieldHasError]="controlHasError('email')"
      [fieldRequired]="true"
    ></lib-input>
    <lib-error-message [field]="form.get('email')"></lib-error-message>
  </div>
  <div class="admin-users-add-content-form-input-wrapper">
    <lib-input
      placeholder="Hasło"
      type="password"
      [formControlName]="'password'"
      [fieldHasError]="controlHasError('password')"
      [fieldRequired]="true"
    ></lib-input>
    <lib-error-message [field]="form.get('password')"></lib-error-message>
  </div>
  <app-admin-users-general-form
    [profileFormGroup]="getProfileFormGroup()"
  ></app-admin-users-general-form>

  <div class="admin-users-add-content-form-input-wrapper">
    <lib-select [formControlName]="'groups'" [items]="userGroups"></lib-select>
  </div>
  <div class="admin-users-add-content-footer">
    <lib-button type="primary" (click)="createUser()"
      >Utwórz użytkownika</lib-button
    >
  </div>
</form>
