<div class="rules">
  <h1>REGULAMIN CAMPINGU CAMP'N'GO</h1>
  <hr />
  <h2>§ 1 PRZEPISY OGÓLNE</h2>
  <ol>
    <li>
      Zasady Regulaminu mają na celu ochronę praw wszystkich gości (dalej:
      gości) campingu.
    </li>
    <li>
      Niniejsze zasady określają obowiązki gości dotyczące ich zachowania się
      podczas pobytu na campingu oraz sposób korzystania z udostępnionych
      urządzeń technicznych i sprzętu.
    </li>
  </ol>
  <h3>PRZEDMIOT REGULAMINU</h3>
  <ol>
    <li>
      Regulamin Campingu Camp’n’go określa zasady świadczenia usług oraz
      odpowiedzialności za przebywanie na terenie kompleksu Camp’n’go we
      wszystkich jego sektorach. Dokonując rejestracji, meldunku i innych
      czynności związanych z prawidłowym zakwaterowaniem na Camp’n’go, Gość
      potwierdza, że zapoznał się i akceptuje warunki regulaminu.
    </li>
    <li>
      Kompleks Camp’n’go zarządzany jest przez podmioty prawne wymienione
      poniżej w regulaminie.
    </li>
    <li>
      Camping (wszystkie sektory, za wyjątkiem sektorów N i D): Camp’n’go sp. z
      o.o., z siedzibą w Błachowie (46-380), ul. Opolska 0, wpisaną do rejestru
      przedsiębiorców Krajowego Rejestru Sądowego, prowadzonego przez Sąd
      Rejonowy w Opolu, Wydział VIII Gospodarczy KRS, pod numerem: 0000000000,
      NIP: 0000000000, REGON: 000000000, adres do korespondencji: ul. Opolska 0,
      46-380 Błachów, e-mail:
      <a href="mailto:recepcja@campngo.com">recepcja&#64;campngo.com</a>, tel.:
      +48 000 000 000.
    </li>
    <li>
      Regulamin Campingu Camp’n’go obowiązuje wszystkich Gości przebywających na
      terenie kompleksu.
    </li>
  </ol>
  <h2>§ 2 PRZYJAZD I WYJAZD GOŚCI</h2>
  <ol>
    <li>
      Doba pobytowa na campingu trwa od godz. 15:00 do godz. 14:00 dnia
      następnego.
    </li>
    <li>
      Rezerwacje można dokonywać bezpośrednio w recepcji Camp’n’go lub pod
      numerem +48 000 000 000.
    </li>
    <li>
      Do korzystania z pola campingowego uprawnione są wyłącznie osoby
      zameldowane w recepcji campingu i posiadające kartę pobytu po uregulowaniu
      należności za cały okres pobytu z góry, zgodnie z cennikiem.
    </li>
    <li>
      Po upływie doby pobytowej korzystający z campingu są zobowiązani zgłosić
      swój wyjazd.
    </li>
    <li>
      Opłat wniesionych wcześniej nie zwracamy w przypadku przyczyn niezależnych
      od Camp’n’go (np. warunki pogodowe lub wcześniejszy wyjazd).
    </li>
    <li>
      Camping ma prawo odmówić przyjęcia turystów, którzy podczas wcześniejszych
      pobytów rażąco naruszyli regulamin, wyrządzili szkody lub zakłócili
      spokój.
    </li>
  </ol>
  <h2>§ 3 KORZYSTANIE Z CAMPINGU</h2>
  <ol>
    <li>
      Miejsce ustawienia sprzętu campingowego, namiotów lub pojazdów wyznacza
      personel campingu.
    </li>
    <li>
      Goście nie mogą zmieniać wyznaczonego miejsca bez wcześniejszej zgody
      personelu.
    </li>
    <li>
      Przed wyjazdem Goście są zobowiązani do posprzątania miejsca pobytu.
    </li>
    <li>
      Na terenie campingu należy przestrzegać ograniczenia prędkości do 5 km/h.
    </li>
  </ol>
  <h2>§ 4 KORZYSTANIE Z URZĄDZEŃ TECHNICZNYCH I SPRZĘTU</h2>
  <ol>
    <li>
      Goście mogą korzystać z urządzeń elektrycznych i sanitarnych dostępnych na
      campingu wyłącznie zgodnie z ich przeznaczeniem.
    </li>
    <li>
      Zabrania się używania urządzeń elektrycznych, takich jak klimatyzatory czy
      kuchenki, które nie są przeznaczone do biwakowania.
    </li>
    <li>
      Mycie naczyń i pranie odzieży odbywa się wyłącznie w specjalnie
      wyznaczonych punktach sanitarnych.
    </li>
    <li>Zabronione jest mycie samochodów, zmiana oleju itp.</li>
  </ol>
  <h2>§ 5 OCHRONA MIENIA I ODPOWIEDZIALNOŚĆ</h2>
  <ol>
    <li>
      Goście są odpowiedzialni za swoje mienie; camping oraz parkingi są
      niestrzeżone.
    </li>
    <li>
      Camp’n’go nie odpowiada za szkody, wypadki ani uszkodzenia wynikające z
      winy Gości, warunków pogodowych lub siły wyższej.
    </li>
    <li>
      Goście ponoszą odpowiedzialność materialną za wszelkie uszkodzenia lub
      zniszczenia, również spowodowane przez zwierzęta.
    </li>
  </ol>
  <h2>§ 6 OCHRONA ŚRODOWISKA</h2>
  <ol>
    <li>Śmieci należy wyrzucać wyłącznie do przeznaczonych pojemników.</li>
    <li>
      Zabronione jest wyrzucanie odpadów poza koszami oraz odprowadzanie ścieków
      w nieprzeznaczonych miejscach.
    </li>
    <li>
      Goście są zobowiązani do ochrony roślinności oraz utrzymania czystości.
    </li>
  </ol>
  <h2>§ 7 PORZĄDEK I SPOKÓJ</h2>
  <ol>
    <li>Na terenie campingu obowiązuje cisza nocna w godzinach 22:00–06:00.</li>
    <li>
      Zakaz głośnej muzyki i hałaśliwego zachowania obowiązuje przez cały czas.
      Koszty interwencji zewnętrznej ochrony obciążą Gościa (700 zł).
    </li>
    <li>
      W określonych dniach mogą odbywać się wydarzenia muzyczne lub fajerwerki,
      co może wiązać się z chwilowym zwiększeniem poziomu hałasu.
    </li>
  </ol>
  <h2>§ 8 POZOSTAŁE ZASADY</h2>
  <ol>
    <li>
      Psy mogą przebywać na campingu wyłącznie na smyczy i pod opieką
      właściciela, który ponosi odpowiedzialność za ich zachowanie.
    </li>
    <li>
      Gość ma obowiązek zgłaszania wszelkich usterek i naruszeń regulaminu
      personelowi recepcji.
    </li>
  </ol>
  <h2>§ 9 NIEPRZESTRZEGANIE REGULAMINU</h2>
  <ol>
    <li>
      W przypadku naruszenia regulaminu Camp’n’go zastrzega sobie prawo do
      usunięcia Gościa z campingu bez zwrotu wniesionych opłat.
    </li>
    <li>Szczegółowych informacji udziela recepcja.</li>
  </ol>
  <p>
    Życzymy Państwu przyjemnego i spokojnego wypoczynku na campingu Camp’n’go!
  </p>
</div>
