<form class="login-form" name="form" [formGroup]="form">
  <div class="login-form__input" [formGroupName]="'profile'">
    <div class="login-form__input-wrapper">
      <lib-input
        placeholder="Imię"
        [formControlName]="'first_name'"
        [fieldHasError]="customControlHasError('first_name', 'profile')"
        [fieldRequired]="true"
      ></lib-input>
      <lib-error-message
        [field]="form.get('profile').get('first_name')"
      ></lib-error-message>
    </div>
    <div class="login-form__input-wrapper">
      <lib-input
        placeholder="Nazwisko"
        [formControlName]="'last_name'"
        [fieldHasError]="customControlHasError('last_name', 'profile')"
        [fieldRequired]="true"
      ></lib-input>
      <lib-error-message
        [field]="form.get('profile').get('last_name')"
      ></lib-error-message>
    </div>
  </div>
  <div class="login-form__input-wrapper">
    <lib-input
      placeholder="Email"
      [formControlName]="'email'"
      [fieldHasError]="controlHasError('email')"
      [fieldRequired]="true"
    ></lib-input>
    <lib-error-message [field]="form.get('email')"></lib-error-message>
  </div>
  <div class="login-form__input-wrapper">
    <lib-input
      placeholder="Hasło"
      [formControlName]="'password'"
      [fieldHasError]="controlHasError('password')"
      [fieldRequired]="true"
      [type]="'password'"
    ></lib-input>
    <lib-error-message [field]="form.get('password')"></lib-error-message>
  </div>
  <div class="login-form__input-wrapper">
    <lib-input
      placeholder="Powtórz hasło"
      [formControlName]="'confirmPassword'"
      [fieldHasError]="controlHasError('confirmPassword')"
      [fieldRequired]="true"
      [type]="'password'"
    ></lib-input>
    <lib-error-message
      [field]="form.get('confirmPassword')"
    ></lib-error-message>
    <lib-error-message [field]="form"></lib-error-message>
  </div>

  <lib-button
    class="login-form__submit"
    [fullWidth]="true"
    (click)="submitForm()"
    >Stwórz konto</lib-button
  >
  <span class="login__signin--text"
    >Posiadasz konto?
    <a [routerLink]="['/login']" class="login__signin--button"
      >Zaloguj się</a
    ></span
  >
</form>
